.btn {
  display: inline-flex;
  padding: 27px 43px 27px 44px;
  color: $text-color-main;
  background-color: $color-transparent;
  box-shadow: inset 0 0 0 2px $text-color-main;
  border: none;
  cursor: pointer;
  text-align: center;
  font-family: $ff-secondary;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  user-select: none;
  transition: opacity $trans-default, background 0.2s ease;

  &--inverse {
    color: $text-color-inverse;
    box-shadow: inset 0 0 0 2px $text-color-inverse;
    padding: 27px 57px;

    @include vp-1365 {
      padding: 22px 25px;
    }

    &:hover,
    &:focus-visible {
      color: $text-color-accent;
      background-color: $button-color-stroke;
      outline: none;
    }

    &:active {
      color: $text-color-main;
      background-color: $button-color-stroke;
    }

    &:disabled {
      opacity: 0.5;
      cursor: auto;
    }
  }

  &--blue-bg {
    width: 100%;

    @include vp-1365 {
      padding: 23px 43px 21px 44px;
      width: auto;
    }

    @include vp-767 {
      padding: 23px 44px 21px 44px;
    }
  }

  &--stretch {
    width: 100%;
    justify-content: center;
  }

  &--tab {
    padding: 20px 48px 16px;
    width: 100%;
    margin: 0;
    opacity: 1;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    text-transform: none;
    box-shadow: inset 0 0 0 1px $tab-color-stroke;
    letter-spacing: normal;

    @include vp-1365 {
      padding: 20px 48px 16px;
      min-width: 21.09vw;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 16px;
      padding: 16px 48px 12px;
    }

    &:hover,
    &:focus-visible {
      box-shadow: inset 0 0 0 1px $text-color-accent;
      outline: none;
    }

    &:disabled {
      color: $tab-disabled-color;
      box-shadow: inset 0 0 0 1px $tab-disabled-color;
    }
  }

  &--accordion {
    padding: 33px 0 32px;
    color: $text-color-main;
    letter-spacing: normal;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-transform: none;
    box-shadow: none;
    position: relative;

    @include vp-1365 {
      padding: 34px 130px 32px 0;
      font-size: 22px;
      line-height: 22px;
      text-align: left;
    }

    @include vp-767 {
      padding: 23px 52px 20px 0;
      font-size: 20px;
      line-height: 20px;
    }
  }

  &--accordion-2 {
    @include vp-767 {
      padding: 22px 52px 21px 0;
    }
  }

  &--accordion-3 {
    @include vp-1365 {
      padding: 35px 130px 31px 0;
    }

    @include vp-767 {
      padding: 22px 52px 21px 0;
    }
  }

  &--accordion-narrow {
    @include vp-1365 {
      padding: 27px 130px 23px 0;
    }

    @include vp-767 {
      padding: 22px 49px 21px 0;
    }
  }
}

.btn--tab.is-active {
  box-shadow: none;
  color: $text-color-inverse;
  background: linear-gradient(97deg, #ed0233 17.6%, #003eb7 95.31%);

  @include vp-1365 {
    background: linear-gradient(120deg, #ed0233 17.6%, #003eb7 95.31%);
  }
}

[data-accordion="element"].is-active .btn--accordion {
  padding-bottom: 11px;

  @include vp-1365 {
    padding-bottom: 10px;
  }

  @include vp-767 {
    padding-bottom: 20px;
  }
}

.subscriptions__item:hover .btn--blue-bg:not(:disabled):not(.btn--disabled),
.subscriptions__item .btn--blue-bg:focus-visible:not(.btn--disabled),
.subscriptions__item .btn.btn--blue-bg--main:not(.btn--disabled) {
  outline: none;
  box-shadow: none;
  color: $text-color-inverse;
  background: $button-linear-gradient;
}

.subscriptions__item .btn--blue-bg {
  &:hover:not(:disabled):not(.btn--disabled) {
    background: $bg-color-main;
    box-shadow: inset 0 0 0 2px $text-color-main;
    color: $text-color-accent;
  }

}

.subscriptions__item.subscriptions__item.subscriptions__item .btn--blue-bg:active {
  color: $text-color-main;
}

.btn:disabled.btn--blue-bg,
.btn--disabled.btn--blue-bg {
  opacity: 0.3;
  cursor: default;
}

.btn--accordion-narrow .accordion__icon {
  transform: translateY(4px);

  @include vp-767 {
    transform: scale(0.75) translateY(-62%);
  }
}
