.btn {
  display: inline-flex;
  padding: 27px 43px 27px 44px;
  color: $text-color-main;
  background-color: $color-transparent;
  box-shadow: inset 0px 0px 0px 2px $text-color-main;
  border: none;
  cursor: pointer;
  text-align: center;
  font-family: $ff-secondary;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  user-select: none;
  transition: opacity $trans-default;

  &--inverse {
    color: $text-color-inverse;
    box-shadow: inset 0px 0px 0px 2px $text-color-inverse;
    padding: 27px 57px;

    @include vp-1365 {
      padding: 22px 34px;
    }

    @include hover-focus {
      color: $text-color-accent;
      background-color: $button-color-stroke;
      outline: none;
    }

    @include active {
      color: $text-color-main;
      background-color: $button-color-stroke;
    }

    &:disabled {
      opacity: 0.5;
      cursor: auto;
    }
  }

  &--blue-bg {
    background-color: $bg-color-main;
    width: 100%;

    @include vp-1365 {
      padding: 23px 43px 21px 44px;
      width: auto;
    }

    @include vp-767 {
      padding: 23px 44px 21px 44px;
    }

    @include hover-focus {
      box-shadow: none;
      color: $text-color-inverse;
      background: $button-linear-gradient;
    }

    @include active {
      color: rgba($text-color-inverse, 0.7);
    }

    &:disabled {
      opacity: 0.3;
      cursor: auto;
    }
  }

  &--stretch {
    width: 100%;
    justify-content: center;
  }

  &--tab {
    padding: 20px 48px 16px;
    width: 100%;
    margin: 0;
    opacity: 1;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    text-transform: none;
    box-shadow: inset 0px 0px 0px 1px $tab-color-stroke;
    letter-spacing: normal;

    @include vp-1365 {
      padding: 20px 48px 16px;
      min-width: 21.09vw;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 16px;
      padding: 16px 48px 13px;
    }

    @include hover-focus {
      box-shadow: inset 0px 0px 0px 1px $text-color-accent;
    }

    &:display {
      color: $tab-disabled-color;
      box-shadow: inset 0px 0px 0px 1px $tab-disabled-color;
    }
  }

  &--accordion {
    padding: 33px 0 32px;
    color: $text-color-main;
    letter-spacing: normal;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-transform: none;
    box-shadow: none;
    position: relative;

    @include vp-1365 {
      padding: 34px 130px 32px 0;
      font-size: 22px;
      line-height: 22px;
      text-align: left;
    }

    @include vp-767 {
      padding: 22px 52px 22px 0;
      font-size: 20px;
      line-height: 20px;
    }
  }

  &--accordion-narrow {
    @include vp-1365 {
      padding: 25px 130px 25px 0;
    }

    @include vp-767 {
      padding: 21px 49px 21px 0;
    }
  }

}

.btn--tab.is-active {
  box-shadow: none;
  color: $text-color-inverse;
  background: linear-gradient(97deg, #ED0233 17.6%, #003EB7 95.31%);

  @include vp-1365 {
    background: linear-gradient(120deg, #ED0233 17.6%, #003EB7 95.31%);
  }
}

[data-accordion="element"].is-active .btn--accordion {
  padding-bottom: 11px;

  @include vp-767 {
    padding-bottom: 20px;
  }
}
