.form-field {
  color: $text-color-inverse;
  font-family: $ff-secondary;
  font-size: 14px;
  line-height: 22px;
  background-color: $button-color-stroke-inverse;
  padding: 9px 0 2px;
  border: 2px solid transparent;
  border-bottom-color: rgba($text-color-inverse, 0.5);
  width: 100%;

  &::placeholder {
    color: $text-color-inverse;
  }

  @include vp-1365 {
    font-size: 16px;
    line-height: 24px;
  }

  @include vp-767 {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
  }

  &:hover:not(:disabled) {
    border-bottom-color: $text-color-inverse;
  }

  &:active:not(:disabled),
  &:focus-visible:not(:disabled) {
    padding-left: 4px;
    padding-right: 4px;
    border-color: $text-color-inverse;
    outline: none;
  }

  &:focus-visible::placeholder {
    color: transparent;
  }

  &:disabled {
    opacity: 0.4;
  }
}

.is-invalid .form-field:not(:disabled) {
  border-bottom-color: $form-color-error;
}

.input-message.is-invalid {
  color: $form-color-error;
}
