.tab {
  border: none;
  padding: 13px 0;
  background-color: transparent;
  color: $text-color-main;
  opacity: 0.5;
  text-align: center;
  font-family: $ff-secondary;
  font-size: 20px;
  line-height: 20px;
  cursor: pointer;
  position: relative;

  @include vp-1365 {
    font-size: 18px;
    line-height: 18px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 16px; /* 100% */
    padding: 14px 0 17px;
  }

  &--active {
    cursor: auto;
    opacity: 1;

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      background-color: $bg-color-banner;
      bottom: -1px;
    }
  }

  @include hover-focus {
    opacity: 1;

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      background-color: $bg-color-banner;
      bottom: -1px;
    }
  }

  &:disabled {
    opacity: 0.3;
    cursor: auto;
  }
}

.tabs__element {
  padding: 0;
}
