.advantages {
  background-color: $bg-color-extra;
  padding: 120px 0;
  font-family: $ff-secondary;

  @include vp-1365 {
    padding: 100px 0;
  }

  @include vp-767 {
    padding: 70px 0;
  }
}

.advantages__contaiter {
  @include vp-767 {
    padding: 0;
  }
}

.advantages__title {
  margin-bottom: 52px;

  @include vp-1365 {
    margin-bottom: 50px;
  }

  @include vp-767 {
    margin-bottom: 54px;
  }
}

.advantages__list {
  padding: 0 60px;
  display: grid;
  grid-template-columns: 1fr 240px 1fr;
  column-gap: 60px;
  grid-auto-flow: dense;

  @include vp-1365 {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    column-gap: 6.51vw;
    row-gap: 5.2vw;
    grid-auto-flow: initial;
  }

  @include vp-767 {
    display: block;
  }
}

.advantages__list-center {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 3px;
}

.advantages__item {
  position: relative;
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 30px;
  min-height: 170px;
  grid-column: 1/2;
  padding-top: 60px;

  @include vp-1365 {
    padding-top: 0;
    gap: 15px;
    min-height: auto;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
    margin-bottom: 35px;
  }

  &--experience {
    @include vp-767 {
      margin-top: -6px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color:  rgba(209, 10, 66, 0.20);

    @include vp-1365 {
      display: none;
    }
  }

  &--first-row {
    padding-top: 0;

    &::before {
      display: none;
    }
  }

  &--right {
    grid-column: 3/4;

    @include vp-1365 {
      grid-column: auto;
    }
  }

}

.advantage_accent-content {
  width: fit-content;
}

.advantage_accent-content em {
  font-size: 70px;
  font-weight: 700;
  line-height: 70px;
  font-style: normal;
  text-align: left;
  display: block;

  @include vp-767 {
    font-size: 64px;
    line-height: 64px;
  }
}

.advantage_accent-content b {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  display: block;
  text-align: left;

  @include vp-767 {
    text-align: center;
  }
}

.advantage_accent-content--first b {
  margin-bottom: 20.5px;
}

.advantage_text-content {
  text-align: left;
}

.advantage_text-content h3 {
  margin: 0;
  margin-bottom: 8px;
  font-size: 22px;
  line-height: 22px;
  font-weight: 400;

  @include vp-1365 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 11px;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 20px;
    text-align: center;
  }
}

.advantage_text-content p {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;

  @include vp-767 {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 0 51px;
    text-align: center;
  }
}

.advantage_text-content--second p {
  @include vp-767 {
    transform: translate(2px, -6px);
  }
}

.advantage_text-content--comfort h3 {
  @include vp-767 {
    margin-bottom: 6px;
  }
}

.advantages__item-center {
  grid-column: 2/3;
  grid-row: span 2;
  padding: 69px 34px 70px;
  background-color: $bg-color-block-extra;
  color: $text-color-inverse;
  text-align: center;
  min-height: 340px;
  transform: translateY(3px);

  @include vp-1365 {
    min-height: 34.11vw;
    grid-column: span 2;
    grid-row: span 1;
    transform: none;
    width: 52.08vw;
    justify-self: center;
    padding: 4.55vw;
  }

  @include vp-767 {
    margin-top: -3px;
    margin-bottom: 12.5vw;
    width: 100%;
    padding: 29px 74px;
    min-height: 224px;
  }
}

.advantages__item-center h3 {
  margin: 0;
  margin-bottom: 1vw;
  font-size: 70px;
  font-weight: 700;
  line-height: 70px;

  @include vp-1365 {
    margin-bottom: 3.2vw;
  }

  @include vp-767 {
    font-size: 64px;
    line-height: 64px;
    margin-bottom: 2vw;
  }
}

.advantages__item-center b {
  display: block;
  margin-bottom: 36px;
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;

  @include vp-1365 {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 3.12vw;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 5.82vw;
  }
}

.advantages__item-center p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: normal;

  @include vp-1365 {
    font-size: 16px;
    line-height: 150%;
    margin: 0 60px;
  }

  @include vp-767 {
    margin: 0;
    font-size: 14px;
    line-height: 22px;
  }
}

