.competition {
  padding-top: 120px;
  padding-bottom: 120px;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;

  @include vp-1365 {
    padding: 13.02vw 0;
  }

  @include vp-767 {
    padding: 21.87vw 0;
  }
}

.competition__banner {
  display: grid;
  grid-template-columns: 500px 1fr;
  min-height: 500px;
  color: $text-color-inverse;

  @include vp-1365 {
    grid-template-columns: 38.02vw 1fr;
    min-height: 42.18vw;
  }

  @include vp-767 {
    display: block;
  }
}

.competition__text-content {
  background-color: $bg-color-banner;
  padding: 80px;
  min-height: 500px;

  @include vp-1365 {
    display: flex;
    flex-direction: column;
    padding: 5.20vw 5.85vw 5.85vw;
    min-height: 42.18vw;
  }

  @include vp-767 {
    min-height: 309px;
    padding: 40px 12.5vw;
  }

  @include vp-319 {
    padding: 40px;
  }
}

.competition__title {
  margin: 0;
  font-family: $ff-primary;
  font-size: 82px;
  font-weight: 600;
  line-height: 76px;
  letter-spacing: 2.46px;
  text-transform: uppercase;

  @include vp-1365 {
    font-size: 48px;
    line-height: 46px; /* 95.833% */
    letter-spacing: 1.44px;
  }

  @include vp-767 {
    font-size: 48px;
    line-height: 46px;
    letter-spacing: 1.44px;
  }
}

.competition__image {
  width: 100%;
  height: 100%;
}

.competition__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: right center;
}

.competition__wrapper {
  display: grid;
  grid-template-columns: 180px 1fr;
  gap: 68px;
  margin-bottom: 23px;

  @include vp-1365 {
    grid-template-columns: 15.66vw 1fr;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    gap: 3.35vw;
    margin-bottom: 1vw;
  }

  @include vp-767 {
    grid-template-columns: 117px 1fr;
    gap: 37px;
    margin-bottom: 13px;
  }
}

.competition__datetime {
  margin: 0;
}

.competition__datetime dd {
  margin: 0;
  width: fit-content;
  border-top: 1px solid $text-color-inverse;
}

.competition__datetime dd:not(:last-of-type) {
  margin-bottom: 19px;

  @include vp-1365 {
    margin-bottom: 8px;
  }

  @include vp-767 {
    margin-bottom: 6px;
  }
}

.competition__label {
  margin-bottom: 7px;

  @include vp-1365 {
    margin-bottom: 0;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 20px;
  }
}

.competition__month {
  grid-area: month;
  margin-top: 7px;
  font-size: 14px;
  line-height: 14px;

  @include vp-1365 {
    font-size: 10px;
    line-height: 100%;
    margin-top: 3px;
  }

  @include vp-767 {
    margin-top: 4px;
  }
}

.competition__year{
  font-size: 14px;
  line-height: 14px;

  @include vp-1365 {
    font-size: 10px;
    line-height: 100%;
  }
}

.competition__complex-value {
  display: grid;
  grid-template-areas:
    "date month"
    "date year";
}

.competition__value {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  margin-top: 4px;
  display: block;

  @include vp-1365 {
    font-size: 24px;
    line-height: 24px;
    margin-top: 1px;
  }

  @include vp-767 {
   margin-top: 2px;
  }
}

.competition__date {
  grid-area: date;
  margin-right: 7px;

  @include vp-1365 {
    margin-right: 4px;
  }
}

.competition__year {
  grid-area: year;
}

.competition__desc {
  margin-bottom: 56px;

  @include vp-1365 {
    margin: 0;
    margin-bottom: auto;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 20px;
  }
}
