.gym {
  display: grid;
  position: relative;
  grid-template-columns: 350px 660px;
  gap: 150px;
  padding-top: 115px;
  padding-bottom: 235px;

  @include vp-1365 {
    display: block;
    padding-top: 13.02vw;
    padding-bottom: 183px;
    text-align: center;
  }

  @include vp-767 {
    padding: 70px 0;
  }
}

.gym__text-container {
  @include vp-1365 {
    width: 502px;
    margin: 0 auto;
    margin-bottom: 39px;
  }

  @include vp-767 {
    padding: 0 26px 0 15px;
    width: 100%;
    text-align: left;
    margin-bottom: 53px;
  }
}

.gym__video {
  position: absolute;
  left: 50%;
  transform: translateX(-143px);
  bottom: 120px;
  width: 364px;
  height: 228px;

  @include vp-1365 {
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 34.5vw;
    height: 21.74vw;
    text-align: left;
  }

  @include vp-767 {
    position: relative;
    min-width: $vp-320;
    width: 100vw;
    height: 52.18vw;
    min-height: 167px;
    transform: none;
    bottom: auto;
    left: auto;
  }
}

.gym__video > picture > img {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;

  @include vp-767 {
    height: 100%;
  }
}

.gym__video > iframe {
  position: absolute;
}

.gym h2 {
  margin: 0;
  margin-bottom: 28px;

  font-family: $ff-primary;
  font-size: 54px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 1.62px;

  @include vp-1365 {
    margin-bottom: 20px;

    font-size: 42px;
    line-height: 42px;
    letter-spacing: 1.26px;
  }

  @include vp-767 {
    margin-bottom: 13px;

    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.96px;
  }
}

.gym h3 {
  margin: 0;
  margin-bottom: 95px;
  font-family: $ff-secondary;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: -0.1px;

  @include vp-1365 {
    margin-bottom: 33px;
    font-size: 20px;
    line-height: 20px;
    transform: translate(-2px , 0);
  }

  @include vp-767 {
    margin-bottom: 37px;
    font-size: 18px;
    line-height: 20px;
    transform: none;
  }
}

.gym p {
  margin: 0;
  margin-bottom: 7px;

  font-size: 16px;
  font-weight: 300;
  line-height: 24px;

  @include vp-767 {
    font-size: 14px;
    line-height: 22px;
  }
}

.gym p:not(:first-of-type) {
  @include vp-1365 {
    display: none;
  }
}

.gym > picture > img {
  margin-top: 5px;

  @include vp-1365 {
    width: 100%;
    height: 44.92vw;
  }

  @include vp-767 {
    min-width: 320px;
    width: 100%;
    height: 313px;
    object-fit: cover;
    object-position: 90% center;
    margin-bottom: 12.5vw;
  }
}
