.jury {
  padding-bottom: 105px;
  position: relative;

  @include vp-1365 {
    padding-bottom: 87px;
  }

  @include vp-767 {
    padding-bottom: 70px;
  }
}

.jury__slider-wrapper {
  position: relative;

  @include vp-1365 {
    padding: 0 54px 0 56px;
  }

  @include vp-767 {
    padding: 0 10vw;
    min-width: 320px;
  }
}

.jury__slider {
  position: relative;

  @include vp-767 {
    min-width: 320px;
    min-height: 274px;
  }
}

.jury__button {
  position: absolute;
  left: -76px;
  top: 50%;
  transform: translate(0, -50%);

  @include vp-1365 {
    left: -2.6vw;
  }

  &--next {
    left: auto;
    right: -76px;

    @include vp-1365 {
      right: -2.47vw;
    }
  }
}


.jury__card {
  position: relative;
  width: 260px;
  height: 294px;

  @include vp-1365 {
    width: 34.89vw;
    height: 38.28vw;
  }

  @include vp-767 {
    width: 70.62vw;
    height: 85.62vw;
  }
}

.jury__card img {
  @include vp-1365 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  @include vp-767 {
    min-width: 183px;
    min-height: 226px;
  }
}

.jury__title {
  // margin: 0;
  margin-bottom: 31px;
  text-align: left;
  // font-family: $ff-primary;
  // font-size: 54px;
  // font-weight: 600;
  // line-height: 54px;
  // letter-spacing: 1.62px;

  @include vp-1365 {
    text-align: center;
    // font-size: 42px;
    // line-height: 42px;
    // letter-spacing: 1.26px;
    margin-bottom: 25px;
  }

  @include vp-767 {
    margin-bottom: 43px;
    // font-size: 32px;
    // line-height: 32px;
    // letter-spacing: 0.96px;
  }
}

.jury__card-title {
  font-weight: 400;
  text-align: center;
  font-size: 22px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 0;
}

.jury__list {
  padding: 0;
  list-style: none;

  @include vp-767 {
    margin: 0;
  }
}

.jury__content {
  color: $text-color-inverse;
  position: absolute;
  padding: 45px 41px 26px 41px;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  filter: drop-shadow(0 0 35px rgba(42, 59, 99, 0.17));
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-y: auto;


  @include vp-767 {
    min-width: 183px;
    min-height: 226px;
  }
}

.jury-hide-wrapper {
  display: none;
}

.jury__item {
  overflow: hidden;

  @include vp-1365 {
    cursor: pointer;
  }
}

[data-juryItem].is-show .jury__content {
  background-color: rgba(16, 38, 84, 0.89);
  justify-content: start;
}

[data-juryItem].is-show .jury-hide-wrapper {
  display: block;
}

[data-juryItem].is-show .jury__card-title {
  margin-bottom: 8px;
}

.jury__features {
  margin: 0;
  margin-left: 10px;
  padding: 0;
  padding-right: 10px;
}

.jury__feature {
  margin: 0;
  list-style: disc;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 12px;
  padding: 0;
}

.jury__direction {
  margin: 0;
  margin-bottom: 33px;
  color: #b6bdcc;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
