.jury {
  padding-bottom: 120px;
  position: relative;
}

.jury__slider-wrapper {
  position: relative;
}

.jury__slider {
  position: relative;
}

.jury__button {
  position: absolute;
  left: -76px;
  top: 50%;
  transform: translate(0, -50%);

  &--next {
    left: auto;
    right: -76px;
  }
}


.jury__card {
  position: relative;
  width: 260px;
  height: 294px;
}

.jury__title {
  margin: 0;
  margin-bottom: 31px;
  font-family: $ff-primary;
  font-size: 54px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 1.62px;
}

.jury__card-title {
  font-weight: 400;
  text-align: center;
  font-size: 22px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 0px;
}

.jury__list {
  // gap: 40px;
  padding: 0;
  list-style: none;
}

.jury__content {
  color: $text-color-inverse;
  position: absolute;
  padding: 45px 41px 26px 41px;
  top: 0;
  width: 100%;
  min-height: 100%;
  background-color: transparent;
  filter: drop-shadow(0px 0px 35px rgba(42, 59, 99, 0.17));
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.jury-hide-wrapper {
  display: none;
}

.jury__item {
  @include vp-1365 {
    cursor: pointer;
  }
}

[data-juryItem].is-show .jury__content {
  background-color: rgba(16, 38, 84, 0.89);
}

[data-juryItem].is-show .jury-hide-wrapper {
  display: block;
}

[data-juryItem].is-show .jury__content {
  justify-content: start;
}

[data-juryItem].is-show .jury__card-title {
  margin-bottom: 8px;
}

.jury__features {
  margin: 0;
  margin-left: 10px;
  padding: 0;
  padding-right: 10px;
}

.jury__feature {
  margin: 0;
  padding: 0;
  list-style: disc;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 12px;
  padding: 0;
}

.jury__direction {
  margin: 0;
  margin-bottom: 33px;
  color: #b6bdcc;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

