.subscriptions {
  position: relative;
  background-color: $bg-color-extra;
  padding-top: 126px;
  padding-bottom: 120px;
  z-index: 5;

  @include vp-1365 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 74px;
    padding-bottom: 70px;
  }
}

.subscriptions__title {
  margin-bottom: 20px;

  @include vp-1365 {
    margin-bottom: 23px;
  }

  @include vp-767 {
    margin-bottom: 7px;
  }
}

.subscriptions__tabs {
  list-style: none;
  margin: 0 auto;
  margin-bottom: 35px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 349px;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);

  @include vp-1365 {
    width: 332px;
    margin-bottom: 44px;
  }

  @include vp-767 {
    width: 289px;
    margin-bottom: 33px;
  }
}

.subscriptions__list {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 1160px;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;

  @include vp-1365 {
    grid-template-columns: 100%;
    width: 440px;
    justify-content: center;
    margin: 0 auto;
    gap: 40px;
  }

  @include vp-767 {
    min-width: 290px;
    width: 100%;
    gap: 35px;
  }
}

.subscriptions__item {
  padding: 7px;
  background-color: $bg-color-main;

  &:hover {
    background: $linear-gradient-angel;
  }

  &:focus-within {
    background: $linear-gradient-angel;
  }
}

.subscriptions__item--main-offer {
  background: $linear-gradient-angel;
}

.subscriptions__item button {
  transform: translateY(-1px);
}


.subscriptions__card {
  position: relative;
  min-height: 434px;
  padding: 60px 70px 58px;
  text-align: center;
  background-color: $bg-color-main;

  @include vp-1365 {
    min-height: 424px;
    width: calc(440px - 2 * 7px);
    padding: 60px 71px 56px;
  }

  @include vp-767 {
    min-height: calc(374px - 2 * 7px);
    width: 100%;
    padding: 45px 35px 34px;
  }
}

.subscriptions__card-title {
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
  margin-bottom: 7px;

  @include vp-1365 {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 14px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
  }
}

.subscriptions__desc {
  margin: 0;
  margin-bottom: 69px;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;

  @include vp-1365 {
    margin-bottom: 74px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 63px;
  }
}

.subscriptions__price {
  position: relative;
  margin: 0;
  color: $text-color-accent;
  font-size: 60px;
  font-weight: 700;
  line-height: 150%;
  z-index: 10;

  @include vp-1365 {
    font-size: 60px;
    line-height: 150%;
  }

  @include vp-767 {
    font-size: 48px;
    line-height: 150%;
  }

  &::before {
    position: absolute;
    content: attr(data-text);
    color: #e8e8e8;
    font-size: 100px;
    font-weight: 700;
    line-height: 150%;
    left: 50%;
    top: 50%;
    transform: translate(-40%, -99px);
    z-index: -1;

    @include vp-767 {
      font-size: 80px;
      line-height: 150%;
      transform: translate(-39%, -79px);
    }
  }
}

.subscriptions__plates {
  position: absolute;
  z-index: 1;
  bottom: -94px;
  left: 50%;
  transform: translateX(470px);

  @include vp-1365 {
    transform: none;
    left: auto;
    right: -12px;
    bottom: -101px;
  }

  @include vp-767 {
    display: none;
  }
}

.subscriptions__plates img {
  width: 321px;
  height: 384px;
  transform: rotate(-30deg);

  @include vp-1365 {
    width: 275px;
    height: 328px;
  }
}

.subscriptions__price-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin-bottom: 34px;

  @include vp-1365 {
    margin-bottom: 24px;
  }

  @include vp-767 {
    gap: 11px;
  }
}

.subscriptions__price-wrapper svg {
  position: relative;
  z-index: 10;

  @include vp-767 {
    width: 24px;
    height: 33px;
    transform: translateY(2px);
  }
}
