.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 103px;
  max-width: $vp-1366;

  @include vp-1365 {
    padding: 0 5.85vw;
  }

  @include vp-767 {
    padding: 0 4.68vw;
    min-width: 320px;
  }
}

.container__sitemap-logo {
  background-color: #102654;
  padding: 22px;
}

.container__sitemap-logo img {
  margin: 0 auto;
}
