.container {
  width: 100%;
  max-width: $vp-1366;
  margin: 0 auto;
  padding: 0 103px;

  @include vp-767 {
    padding: 0 45px;
  }

  @include vp-319 {
    padding: 0 15px;
  }
}

.container__sitemap-logo {
  background-color: #102654;
  padding: 22px;
}

.container__sitemap-logo img {
  margin: 0 auto;
}
