// Colors
// ---------------------------------

// Default

/* text colors */
$text-color-main:              #102654;
$text-color-inverse:           #ffffff;
$text-color-accent:            #103aae;
$text-gradient-color-extra:      linear-gradient(128deg, rgb(209, 10, 66) 0%, rgb(0, 65, 202) 45.58%);

/* button colors */
$button-color-stroke:           #ffffff;
$button-color-stroke-inverse:   #102654;
$button-color-stroke-extra:     #1c3374;
$button-gradient-color-extra:     linear-gradient(97deg, rgb(237, 2, 51) 17.6%, rgb(0, 62, 183) 95.31%);
$button-linear-gradient:           linear-gradient(97deg, #ED0233 17.6%, #003EB7 95.31%);
$tab-color-state:               #d10a42;
$tab-color-stroke:              rgba(16, 38, 84, 0.20);
$tab-disabled-color:            #C8C9CC;

/* backgound colors */
$bg-color-main:                 #ffffff;
$bg-color-extra:                #f8f9fc;
$bg-color-banner:               #ed0233;
$bg-color-dark:                 #102654;
$bg-color-footer:               #030a1a;
$bg-color-block-extra:          #1c3374;
$bg-gradient:                     conic-gradient(from 151deg at 16.03% 39.06%, #003d85 32.23deg, #b80027 313.3deg);

/* icon colors */
$icon-color:                    #ffffff;
$icon-color-inverse:            #102654;

/* form colors */
$form-color:                    #ffffff;
$form-color-error:              #ff121f;
$form-color-autofill:           #102654;

$color-transparent:                 rgba(255, 255, 255, 0);

// Sizes
// ---------------------------------
$header-desktop-height:           86px;
$header-tablet-height:            84px;
$header-mobile-height:            54px;


// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

// Gradient
$hero-bg-gradient:                linear-gradient(90deg, rgb(28, 52, 119) 0%, rgb(28, 52, 119) 0.01%, 	rgb(26, 53, 120) 39.11%, 	rgb(115, 24, 75) 75.5%, 		rgb(180, 2, 42) 100%);
$linear-gradient-angel:           linear-gradient(135deg, #D10A42 0%, #00359F 100%);
$linear-gradient-angel-2:           linear-gradient(170deg, #D10A42 0%, #00359F 100%);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        14px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-primary:                        "Alumni Sans", "Arial", sans-serif;
$ff-secondary:                      "Roboto Condensed", "Arial", sans-serif;
$ff-rouble:                         "Rouble", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-375:                            375px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1280:                           1280px;
$vp-1366:                           1366px;
$vp-1440:                           1440px;
$vp-1920:                           1920px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
