
.social {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

  @include vp-767 {
    justify-content: center;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: $text-color-main;
  background-color: $bg-color-main;

  @include hover-focus {
    color: $text-color-inverse;
    background-color: $text-color-accent;
    outline: none;
  }

  @include active {
    background-color: $button-color-stroke-inverse;
  }
}

.social__link--disabled {
  opacity: 0.3;
  cursor: default;

  @include hover-focus {
    color: $text-color-main;
    background-color: $bg-color-main;
  }
}

.social__link svg {
  width: 13.88px;
  height: 13.88px;
}
